.form-container {
  max-width: 500px;
  margin: auto;
}

ion-card {
  margin-bottom: 15px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

.input-box {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 16px;
  color: #000;
  --highlight-color-focused: transparent;
  --border-color: #ccc;
  --background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}


.radio-row ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.calcular-btn {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}

.resultado {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--ion-color-primary);
}

@media (max-width: 400px) {
  .form-container {
    padding: 0 10px;
  }
  ion-card-title {
    font-size: 16px;
  }
  ion-button {
    font-size: 14px;
  }
}
